{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}


{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input type="text" autofocus class="form-control" name="stockname" placeholder="Stock Name">
        </div>
        <div class="form-group">
            <input type="number" autofocus class="form-control" min="1" name="stockamount" placeholder="Shares" required>
        </div>

        <button type="submit" class="btn btn-primary">Buy!</button>
    </form>

{% endblock %}