{% extends "layout.html" %}

    {% block title %}
        History
    {% endblock %}

    {% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>

        <tbody>
        {% for row in rows %}
            <tr>
                <td>{{  row['stock']  }}</td>
                <td>{{  row['useraction']  }}</td>
                <td>{{  row['price'] | moneyFormat }}</td>
                <td>{{  row['transacted']  }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>


    {% endblock %}